.idea
*/.idea
target
*/target
Cargo.lock
*/Cargo.lock
node_modules
*/node_modules
.env
.env*
*/.env
*/.env*
pnpm-lock.yaml
*/pnpm-lock.yaml
yarn.lock
*/yarn.lock
package-lock.json
*/package-lock.json

# Cargo+Git helper file (https://github.com/rust-lang/cargo/blob/0.44.1/src/cargo/sources/git/utils.rs#L320-L327)
.cargo-ok

# Text file backups
**/*.rs.bk

# macOS
.DS_Store

*.iml
