.idea
target
*/target
Cargo.lock
*/Cargo.lock
Cargo.ok
*/Cargo.ok
node_modules
*/node_modules
.env
.env*
*/.env
*/.env*
*temp.ts
deploy_testing.ts
deploy_testing_muilti_stable.ts
!*/*.env.example
*.iml
**/*/deployed_*.json
**/*/deployed_*.md

# macOS
.DS_Store

# Text file backups
**/*.rs.bk
**/*.ts.bk
**/just*
