printWidth: 300
semi: true
singleQuote: false
jsxSingleQuote: false
arrowParens: 'avoid'
proseWrap: 'never'
tabWidth: 2
useTabs: false
quoteProps: 'as-needed'
bracketSpacing: true
bracketSameLine: false
jsxBracketSameLine: false
rangeStart: 0
requirePragma: false
insertPragma: false
htmlWhitespaceSensitivity: 'css'
vueIndentScriptAndStyle: false
endOfLine: 'lf'
embeddedLanguageFormatting: 'auto'
singleAttributePerLine: false
eslintIntegration: false
ignorePath: ".prettierignore"
requireConfig: false
stylelintIntegration: false
trailingComma: "none"
tslintIntegration: false
